<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File To Watch</title>
  </head>
  <style>
    body {
      background: linear-gradient(
          169deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(32, 168, 139, 1) 20%,
          rgba(0, 212, 255, 1) 100%
        )
        no-repeat;
      min-height: 100vh;
      overflow-x: hidden;
    }
    .heading {
      margin: auto;
    }
    .file {
      text-decoration: none;
      color: rgb(211, 219, 226);
    }
    a {
      text-decoration: none;
      color: #402860;
      font-size: 1.2em;
    }
  </style>
  <body>
    <h1 class="heading">Please choose files you wanna watch/download</h1>
    <% let i = 0; %> <% files.forEach(e=>{ %>
    <p class="file"><%= e.name %></p>
    <a href="/stream/<%= i %>">Play</a>
    <a download href="/download/<%= i %>">Download</a>
    <% i++ %> <% }); %>
  </body>
</html>
